#recording__video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  video {
    width: 450px;
  }
  button {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    color: $font-color-darkmode;
    background-color: #77ee99;
    cursor: pointer;
  }
  button:hover {
    background-color: #40ff00;
  }
}
#upload-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 10px;
  width: 50%;
  & > input {
    color: $font-color-lightmode;
    background-color: $font-color-darkmode;
    width: 100%;
    padding: 10px 0;
  }
  & > input:nth-of-type(6) {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    color: $font-color-darkmode;
    background-color: $orange;
    cursor: pointer;
  }
  & > input:nth-of-type(6):hover {
    background-color: #ff681f;
  }
}
