#videoContainer {
  position: relative;
  width: 100%;
  video {
    width: 100%;
  }
  #videoController {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
    width: 95%;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto 4fr auto;
    gap: 15px;
    justify-content: space-between;
    background-color: rgba(15, 17, 23, 0.5);
    padding: 10px;
    left: 0;
    box-sizing: border-box;
    div {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    div:nth-of-type(3) {
      input {
        width: 100%;
      }
    }
    &.active {
      opacity: 1;
    }
  }
}
