extends ../layout.pug

block content
  div.container
    h1.pageTitle #{pageTitle}
    form#changepw-form(method="POST")
      if errMsg
        span=errMsg
      input(name='currentPassword', type='password', placeholder='현재 비밀번호')
      input(name='newPassword', type='password', placeholder='새 비밀번호')
      input(name='newPasswordConfirm', type='password', placeholder='새 비밀번호 확인')
      input(type='submit' value='비밀번호 변경')